###
#  Valid properties:
#    before-* and after-* props are executed only if a run-* prop exists in
#    this file or another config.test file uses this config.test file as a
#    dependency.
#
#    before-class = full.java.class.Name - must implement qt.framework.QTBefore,
#        creates a new instance and executes before() before run-* statements
#        If this is specified, before-ddl-file and before-data-file are
#        ignored.
#    before-ddl-file   = file-name.ddl  - executes DDL statements
#    before-data-file  = file-name.data - executes put with included records
#
#    run-* = query-dir-name( dep-dir1, dep-dir2, //dep-dir3 ) = result-dir
#        dep-dir params are optional. use query-dir-name() for no dependencies.
#        Triggers before-* props in this file. Runs before-* in all
#        dependency dirs and runs queries in all .q files from
#        query-dir-name. Expected results must be in files with the same
#        name in result-dir.
#
#    after-class = full.java.class.Name - must implement qt.framework.QTAfter,
#        creates a new instance and executes after() after run-* statements
#        If this is specified, after-ddl-file property is ignored.
#    after-ddl-file   = file-name.ddl  - executes DDL statements
###

#
# Contains the very first query tests
#

before-class        = UserTable

var-$v1 = 7
var-$vstr = "abc"
var-$vjson = {"a" : 1, "b" : 2, "c" : [1,2,3] }
var-$vrec1 = {"city":"Boston", "state":"MA", "phones":[{"work" : 111,"home" : 222}], "ptr" : null }
var-$vrec2 = {"city":"Boston", "state":"MA", "ptr" : null }
var-$vrec3 = {"city":"Boston", "state":"MA", "wrong-field" : null }
var-$vrec4 = {"f1": {"age" : 3, "friends":["cory"]} }
var-$vrec5 = {"f1": {"age" : 3, "friends":["cory"], "field-is-ignored":"foo"} }
var-$vrec6 = {"f1": {"sage" : 3, "friends":["cory"]} }

run-simpleUserTable =   q() = q

after-class         = UserTable
