#
# Contain test cases about is null and is not null in all scenario
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-isnull_isnotnull = q() = expres

#compile-josn-index-plans = q() = explans

after-ddl-file = after.ddl

var-$ext1 = "MA"
var-$v1 = 5
var-$vstr = "abc"
var-$vrec1 = {"city":"Boston", "state":"MA", "phones":[{"work" : 111,"home" : 222}], "ptr" : null }


