#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-geo = q() = expres

compile-geo = q() = explans

after-ddl-file = after.ddl

var-$p1x = 23.48
var-$p1y = 35.16
var-$p2x = 24.0175
var-$p3x = 23.8871
var-$kind1 = "hospital"
var-$kind2 = "hotel"
var-$radius1 = 5000
var-$radius2 = 50000
var-$point="point"
var-$dist = 10000
var-$city = "platanias"

var-$arr1 = [ "hotel", "hospital" ]

var-$arr2 = [ "platanias", "gerani", "kandanos" ]

var-$arr3 = [ "park", "village" ]

var-$arr5 = [ "platanias", "gerani", "chania" ]

var-$badPolygon = { "type" : "polygon", "coordinates" : 35 }
