#
# Contains tests about field steps, slice steps and filter steps
#

before-class  = RowPropsSetup
before-data-file  = before.data

run-sec-index = q() = expres

compile-sec-index-plans = q() = explans

after-class = RowPropsSetup

var-$ext1 = "MA"

var-$ext2 = 3

var-$p = 1

var-$p1 = 3

var-$p2 = 15

var-$p3 = 10

var-$p4 = 4

var-$p5 = 5

var-$p6 = 0

var-$age=2343242134322323

var-$s1 = 1

table-foo-id = 22
