#
# Contains tests for all three variants of  IN Operator 
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-in-expr = q() = expres

compile-in-expr-plans = q() = explans

after-ddl-file = after.ddl

var-$arr1 = [ 50, 304, 318, 500, 4, 36, 630, 30 ]

var-$k1 = 90000000000000000000

var-$arr2 = [ 0, 10.5, "first0", 4, 3.9, "d", 3, 4.0, "g" ]

var-$arr3 = [ null, null, null, null, null, null]

var-$arr4 = [ 1, 2, 4, null]

var-$k3 = "CA"

var-$k4 = 10

var-$k5 = 0

var-$arr5 = [ 1, 2, 3, null, 5]
