## Contains tests of external variable and table alias #

before-ddl-file   = before.ddl
before-data-file  = before.data

var-$v1 = 400000
var-$v3 = 47
var-$v4 = 25
var-$str0 = "Morgan"
var-$str1 = "Peter"
var-$key = 47
var-$value = 47
var-$element = 47
var-$pos = 47
var-$number = 9999999999999999999
var-$booltrue = true
var-$boolfalse = false
var-$floatmin = 1.4E-45
var-$floatmax = 3.4028235E38
var-$doublemin = 4.9E-324
var-$doublemax = 1.7976931348623157E308
var-$longmin = -9223372036854775808
var-$longmax = 9223372036854775807
var-$intmin = -2147483648
var-$intmax = 2147483647
var-$vrec5 = {"Mark" : { "age" : 4, "friends" : ["George"]} }

run-test =   q() = q

after-ddl-file = after.ddl
