#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-sec-index = q() = expres

compile-sec-index-plans = q() = explans

after-ddl-file = after.ddl

var-$ext1 = "MA"

var-$ext2 = type:int:3

var-$age=2343242134322323
