#
# Contains tests about field steps
#

before-ddl-file   = fieldStepTable-before.ddl
before-data-file  = fieldStepTable-before.data

var-$mapkey = "age"
var-$empval = "cat"
var-$city   = "city"
var-$work   = "work"
var-$mapval = "John"

run-simpleUserTable =   q() = q

after-ddl-file   = fieldStepTable-after.ddl
