before-ddl-file   = before.ddl
before-data-file  = before.data

run-indexing_functions = q() = expres

compile-indexing_functions-plans = q() = explans

after-ddl-file = after.ddl

var-$tm1 = "2021-05-03T12:47:23.999888777"
var-$tm2 = "2019-10-26T10:46:53.010123456"
var-$name1 = "name_9999999999999999abcdefghijklmnopqrstuvwxyz"
var-$week1 = "2021-02-03"

var-$arr1 = [  "  1abcdefghijk2lmnopqrstuvwxyz3 ", " NXXXME_12345  ", "  name_123 ", " XXXBCDEFGHIJKLMNOPQRSTUVWXYZ  ", "XXXXXXXXXBCDEFGHIJKLMNOPQRSTUVWXYZzz", "XXXXXXname_123z" ]
var-$arr2 = [ " 3zyxwvutsrqponml2kjihgfedcba1  ", "  54321_EMAN ", " 321_eman  ", "  ZYXWVUTSRQPONMLKJIHGFEDCBA ", "zzZYXWVUTSRQPONMLKJIHGFEDCBAAA", "z321_emanAA" ]  
var-$arr3 = [ "  1ABCDEFGHIJK2LMNOPQRSTUVWXYZ3 ", " NAME_12345  ",  "  NAME_123 ", " ABCDEFGHIJKLMNOPQRSTUVWXYZ  ", "AAABCDEFGHIJKLMNOPQRSTUVWXYZZZ", "AANAME_123Z"]
var-$arr4 = [ "  1abcdefghijk2lmnopqrstuvwxyz3 ", " name_12345  ", "  name_123 ", " abcdefghijklmnopqrstuvwxyz  ", "aaabcdefghijklmnopqrstuvwxyzzz", "aaname_123z" ]

var-$arr5 = [ "1abcdefghijk2lmnopqrstuvwxyz3", "NAME_12345", "name_123", "ABCDEFGHIJKLMNOPQRSTUVWXYZ", "AAABCDEFGHIJKLMNOPQRSTUVWXYZzz", "AAname_123z" ]
var-$arr6 = [ "1abcdefghijk2lmnopqrstuvwxyz3 ", "NAME_12345  ", "name_123 ", "ABCDEFGHIJKLMNOPQRSTUVWXYZ  ", "AAABCDEFGHIJKLMNOPQRSTUVWXYZzz", "AAname_123z" ]
var-$arr7 = [ "  1abcdefghijk2lmnopqrstuvwxyz3", " NAME_12345", "  name_123", " ABCDEFGHIJKLMNOPQRSTUVWXYZ", "AAABCDEFGHIJKLMNOPQRSTUVWXYZzz", "AAname_123z" ]

var-$arr8 = [ "  1abcdefghijk2lmnopqrstuvwxyz3 ", " NAME_12345  ", "  name_123 ", " ABCDEFGHIJKLMNOPQRSTUVWXYZ  ", "BCDEFGHIJKLMNOPQRSTUVWXYZzz", "name_123z" ]
var-$arr9 = [ "  1abcdefghijk2lmnopqrstuvwxyz3 ", " NAME_12345  ", "  name_123 ", " ABCDEFGHIJKLMNOPQRSTUVWXYZ  ", "AAABCDEFGHIJKLMNOPQRSTUVWXYZ", "AAname_123" ]

var-$arr10 = [ "bcd", "E_1", "me_", "DEF", "CDE" ]
