before-ddl-file   = before.ddl
before-data-file  = before.data

run-time = q() = expres

compile-time-plans = q() = explans

after-ddl-file = after.ddl

var-$ext1 = "MA"

var-$tm1 = "2021-02-03T10:46:00"
var-$tm2 = "2021-02-03T10:45:00"
var-$tm3 = "2021-02-03T10:45:00.24356"
var-$tm4 = "2021-02-03T10:45:00.23406"
var-$dur1 = "7 days 12 hours"
var-$dur2 = 3600999
