#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-array-index = q() = expres

compile-array-index-plans = q() = explan

after-ddl-file = after.ddl

var-$ext1_1 = 3

var-$ext3_1 = 10

var-$ext4_1 = 20

var-$ext5_1 = 6


