#
# Contains tests about Insert and Upsert.
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-ins = q() = expres

#compile-ins-plans = q() = explans

after-ddl-file = after.ddl

var-$ballsbowled = 1250
var-$ballsplayed = 1500
var-$strikerate = 94
var-$runs = 17012
var-$catches = 18
var-$last5mat = {"runs": [10, 12, 22, 45, 78]}
var-$dblcentury = {}
var-$matches = 304
var-$century = 800000000000000000000
#var-$test = {"person":{"name":["age":31,"match":42]}}
var-$name = "testname"
var-$test1 = {  "person" : {"phones":[{"type":"home", "areacode":423, "number":8634379},{"areacode":500}]}}
var-$test2 = {  "person" : {"phones":[{"type":"home", "areacode":423, "number":8634379},{"areacode":500},{"areacode":600}]}}
var-$test3 = {  "person" : { "expenses":{"food":6000, "books":240, "clothes":2000, "shoes":1200} } }
