#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-sec-index = q() = expres

compile-sec-index-plans = q() = explans

after-ddl-file = after.ddl

var-$uuid1 = "28ac"

var-$uuid2 = "28acbcb9-137b-4fc8-99f7-812f20240356"

var-$uuid1_1 = "18acbcb9-137b-4fc8-99f7-812f20240356"
