# Details of the test and the test case document can be found here:
#    "https://sleepycat-tools.us.oracle.com/trac/wiki/JEKV/extractTimestampFunctionTestSpec"
#
# Contains tests regarding Extarct and Timestamp Function
#

before-ddl-file   = before.ddl

before-data-file  = before.data

run-arith         = q() = expres

after-ddl-file    = after.ddl
