#
# Contains tests related to functions #


before-ddl-file   = before.ddl
before-data-file  = before.data

var-$boo = false

var-$bin  = "dGVzdGJpbmFyeQ=="
var-$fbin = "dHN0ZmJpbmFyeQ=="
var-$arr  = "arr"
var-$map  = "map"
var-$rec  = "rec"
var-$phone  = "phone"

run-function =   q() = q

after-ddl-file = after.ddl
