#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-json-index = q() = expres

compile-josn-index-plans = q() = explans

after-ddl-file = after.ddl

var-$ext1 = type:string:"MA"

var-$state1 = type:int:3

var-$state2 = type:json:""WA""

var-$state3 = type:double:5.5

var-$bool_false = type:boolean:false

var-$bool_true = type:boolean:true

var-$arr = type:json:[ 1, 2, 3]

var-$jnull = jnull

var-$$0_qstn01.q=3

var-$$1_qstn01.q="MA"

var-$$0_qstn02.q=jnull

var-$$1_qstn02.q=jnull

var-$$1_qstn03.q=4

var-$$2_qstn03.q="MA"
