#
# Contains tests about field steps, slice steps and filter steps
#
#        CREATE TABLE Foo(             
#            id1 INTEGER,
#            id2 DOUBLE, 
#            id3 ENUM(tok0, tok1, tok2),
#            firstName STRING,
#            lastName STRING,
#            age INTEGER,
#            id4 STRING,
#        primary key (id1, id2, id3, id4));
#
before-class = PrimIndexSetup
after-class = PrimIndexSetup

run-primary-index = q() = expres

compile-primary-index-plans = q() = explans

var-$ext1_1 = 4
var-$ext1_2 = 41

var-$ext2_1 = 4
var-$ext2_2 = 41
var-$ext2_3 = 42

var-$ext3_1 = 42

var-$ext4_1 = 60

var-$ext5_1 = 30
var-$ext5_2 = "tok0"

var-$ext6_1 = 30

var-$ext7_1 = 4

var-$long = 923424293492870982

var-$enum = "tok-5"

var-$x1 = 3
var-$x2 = 4
var-$y1 = 42.0
var-$y2 = 30.0
var-$z1 = "tok0"
var-$w1 = "id4-3"
