#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-ins = q() = expres

compile-ins-plans = q() = explans

after-ddl-file = after.ddl

var-$f1 = ""xyz""
var-$str1 = "gtm"
var-$str2 = "gtm"
var-$long = 120
var-$info = {"a" : 10, "b" : 30}
var-$recinfo1 = {}
var-$recinfo2 = "{"a":10}"
var-$id2 = 304
var-$id1 = 1




