#
# Contains tests related to regex_like function #


before-ddl-file   = before.ddl
before-data-file  = before.data

var-$pattern1 = "t.*"
var-$pattern2="T.*"
var-$flags = "i"
var-$nullvalue = jnull
var-$invalidpattern = "["
var-$invalidflags = "z"
var-$integer = "2"


run-regexlike =   q() = q

after-ddl-file = after.ddl
