#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-in-expr = q() = expres

compile-in-expr-plans = q() = explans

after-ddl-file = after.ddl

var-$arr1 = [ 6, 3.8, 4, 3.5, 4, 3.6, null, 3.0 ]

var-$arr2=[ 3, 6, null ]

var-$arr3 = [ 6, 3, null, 3, 3, null, 6]

var-$arr4 = [ 3.5, 3.6, null, null, 3.4, 3.0, 3.0, 3.5 ]

var-$arr5 = [ 4, 3, null, 3, 4 ]

var-$arr6 = [ 3.5, 3.6, null, 3.1, 3.1, 3.2 ]

var-$arr7 = [ 8, "a", 8, "a", 4, "a", 6, "", 9, null, null, null, null, null ]

var-$arr8 = [ 3.9, null, 3.1, 3.2, 3.1 ]

var-$arr9 = [ 7, 2, null ]

var-$arr10 = [ 7, 3.5, 4, 3.9 ]

var-$arr11 = [ 4, "d", 3, "g" ]

var-$arr12 = [ 8, "u", 100, 4, "v", 109, 6, "", 103 ]

var-$arr13 = [ 8, 100, 4, 109, 6, 103 ]

var-$arr14 = [ 4, 5 ]

var-$arr15 = [ 8, 3.4, 2, 3.9, 9, 3.0 ]

var-$arr16 = [ 3.4, 3.5 ]

var-$arr17 = [ 3.0, 3.1, 3.5, 3.9 ]

var-$arr18 = [ 3.1, "g", 3.9, "d" ]

var-$arr19 = [ 3.1, 107, 3.9, 106 ]

var-$arr20 = [ 7, 4, 3]

var-$arr21 = [ 3.0, 3.4, 3.6 ]

var-$arr22 = [ 7, 3.0, 4, 3.4, 3, 3.6 ]

var-$arr23 = [ 7, 3.0, 7, 3.5, 3, 3.6 ]

var-$arr24 = [ 4, 3.9, "d", 3, 4.0, "g" ]

var-$arr25 = [ 3, 5 ]

var-$arr26 = [ 3, "a", 5, "b" ]

var-$arr27 = [ "a", "b" ]

var-$arr28 = [ 4, "h", 6, "c", 6, "s"]

var-$arr29 = [ "a", "b", "c" ]

var-$arr30 = [ ]

var-$k1 = 6
var-$k2 = 3
var-$k3 = 3.4
var-$k4 = "p"
var-$k5 = 100
var-$k6 = 108
var-$k7 = 7
var-$k8 = type:json:""p""
var-$k9 = 8589934592
var-$k10 = jnull
var-$k11 = 3.8
var-$k12 = "t"
