#
# Contains tests about field steps, slice steps and filter steps
#

before-ddl-file   = before.ddl
before-data-file  = before.data

run-upd = q() = expres

compile-upd-plans = q() = explans

after-ddl-file = after.ddl

var-$ext1 = "XYZ"

var-$json = "{ "name" : "jonh", "age" : 10 }"

var-$phone = 3453495

var-$add = 56

var-$position = 0

var-$mupd2_sid = 1

var-$mupd2_id = 3

var-$city = "San Jose"

var-$state = "state"

var-$number = 55

var-$income = 10000
